.container {
    padding: 0px 15px;
    margin: 0 auto;
    @include tablet-up {
        width: 750px;
    }
    @include large-up {
        width: 970px;
    }
    @include desktop-up {
        width: 1170px;
    }
    @include large-desktop-up {
        width: 1230px;
    }
}
